
/was.api/.vs
/was.api/.vs
/was.api/.vs/was.api
/was.api/.vs/was.api/v17
was.api/.vs/was.api/v17/.suo
/was.api/.vs
/was.api/.vs/was.api
/was.api/.vs
/was.api/was.api/bin
/was.api/was.api/bin/Debug
/was.api/was.api/obj
/was.api/was.api/obj
/was.api/was.api/bin
*.exe
*.dll
/was.api/was.api/obj
/was.api/.vs/was.api/v17/.suo
/was.api/was.api/bin/Debug/net8.0/was.api.dll
/was.api/was.api/bin/Debug/net8.0/was.api.exe
/was.api/was.api/bin/Debug/net8.0/was.api.pdb
/was.api/was.api/obj/Debug/net8.0/apphost.exe
/was.api/was.api/obj/Debug/net8.0/ref/was.api.dll
/was.api/was.api/obj/Debug/net8.0/refint/was.api.dll
/was.api/was.api/obj/Debug/net8.0/was.api.dll
/was.api/was.api/obj/Debug/net8.0/was.api.pdb
/was.api/was.api/obj/Debug/net8.0/was.api.AssemblyInfo.cs
/was.api/was.api/obj/Debug/net8.0/was.api.AssemblyInfoInputs.cache
/was.api/.vs/was.api/v17/DocumentLayout.json
/was.api/.vs/ProjectEvaluation/was.api.metadata.v9.bin
/was.api/.vs/ProjectEvaluation/was.api.projects.v9.bin
/was.api/.vs/ProjectEvaluation/was.api.strings.v9.bin
/was.api/.vs/was.api/DesignTimeBuild/.dtbcache.v2
/was.api/.vs/was.api/v17/.futdcache.v2
